<div class="footer">
  <div class="footer-copyright">Mentions légales : Elsa Gounot - 26, rue du Borrégo, BàL 175, 75020 Paris - +336 77 62 30 67</div>
  <div class="copyright">2018 © Tous droits réservés</div>
</div>
