.sidebar {
  position: fixed;
  z-index: 100;
  width: 170px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $green;
  color: $light-gray;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#bird-code {
  height: 250px;
  position: absolute;
  top: 50px;
  left: 47px;
}

.links-list {
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: $light-gray;
    font-size: 20px;
    &:hover {
      color: $middle-gray;
    }
  }
}

.text-cursive {
  font-family: 'Tangerine';
  font-size: 24px;
  font-weight: lighter;
}
