#home {
  background-color: white;
  color: $gray;
  min-height: calc(100vh -30px) !important;
  width: calc(100vw -170px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
