#home {
  background-color: white;
  color: $gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: 200px;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.vertical-text{
  width:10px;
  word-wrap: break-word;
}
