---
title: Elsa Gounot | Développeuse web
---

<div class="about">
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%#= image_path 'instant-needles.png' %>);">
          <div class="card-description">
            <h2><a href='https://instantneedles.wordpress.com/'>Instant Needles</a></h2>
            <p>Wordpress, HTML, CSS, Rédaction web, Photoshop</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%#= image_path 'comics-generator.png' %>);">
          <div class="card-description">
            <h2><a href='https://comics-generator.herokuapp.com/'>The Comic Strip Generator</a></h2>
            <p>Javascript, jQuery, HTML, CSS, Ruby on rails, Heroku</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%#= image_path 'blended-fish-img.png' %>);">
          <div class="card-description">
            <h2><a href='http://blended-fish.herokuapp.com/'>Blend the Fish</a></h2>
            <p>Javascript, jQuery, HTML, CSS, Ruby on rails, Photoshop, Heroku</p>
          </div>
      </div>
    </div>
  </div> -->
</div>
