---
title: Elsa Gounot - développeuse front-end
---
<div id="home">
    <div class="home-content">
      <div class="text-content">
        <h1>Elsa Gounot</h1>
        <h3>- Développeuse front-end -</h3>
        <p>Après quelques années passées dans le secteur de l’édition de bandes dessinées et d’illustrations, j’ai souhaité devenir développeuse web en suivant une formation au <%= link_to "Wagon", "https://www.lewagon.com/fr", target: "_blank" %> avec un attrait fort pour le web design.</p>
        <h4>Pour vos projets, contactez-moi : <a href='mailto:elsa.gounot@gmail.com' target="_top">elsa.gounot@gmail.com</a></h4>
      </div>
      <div class="skills-content">
        <ul class="skills-list">
          <li class="vertical-text">HTML</li>
          <li class="vertical-text">CSS</li>
          <li class="vertical-text">BOOTSTRAP</li>
          <li class="vertical-text">WORDPRESS</li>
          <li class="vertical-text">JAVASCRIPT</li>
          <li class="vertical-text">JQUERY</li>
          <li class="vertical-text">RUBY RAILS</li>
          <li class="vertical-text">SQL</li>
          <li class="vertical-text">GIT</li>
          <li class="vertical-text">INDESIGN</li>
          <li class="vertical-text">PHOTOSHOP</li>
        </ul>
      </div>

      <%#= image_tag "logo.png", width: "200" %>
      <!-- <p>
        Middleman is now running!
      </p>
      <p class="about"> -->
        <%#= link_to "More about this template", "about.html" %>
  <!--     </p> -->
    </div>
  </div>
